body {
	font-family: 'Courgette', cursive;
	color: #c9c1ac;
	background:linear-gradient(to bottom,rgba(1,16,21,1),rgba(0,0,0,0.6)),url("../images/body_bg_main.jpg") no-repeat center bottom/cover;
	background-attachment: fixed;
}




/*////////////////////Upper nav section///////////////////////////////////////////////////////////////////////////////////////////////////*/
.container_info {
	background: #c9c1ac;
}

.primary_color {
	color: #d3325f;
}

 .container_info h2 {
 	word-spacing: 0.6rem;
 }

 .container_info a {
 	transition: color 1s ease-in-out;
 }

 .container_info a:hover {
 	color:black;
 }




/*/////////////////////Header Section////////////////////////////////////////////////////////////////////////////////////////////////////////*/
  #header {
  	min-height: calc(100vh - 82px);
 	background:linear-gradient(to right,rgba(0,0,0,0.5),rgba(0,0,0,0.6)),url("../images/header_bg.jpg") no-repeat center/cover;
 	background-attachment: fixed;
	position: relative;
	border-bottom: 2px solid black;
 }

 #header .row {
 	min-height: calc(100vh - 94px);
 }

 @keyframes main_header {
 	0% {
 		transform: translateX(-100px);
 		opacity: 0;
 	}
 	50% {
 		transform: translateX(30px);
 	}
 	100% {
 		transform: translate(0);
 		opacity: 1;
 	}
 }

 .banner h1 {
 	border-top: 6px dotted #c9c1ac;
 	border-bottom: 6px dotted #c9c1ac;
 	opacity: 0;
 	animation: main_header 3s 1s forwards;
 }

 @keyframes order_btn {
 	0% {
 		opacity: 0;
 	}
 	100% {
 		opacity: 1;
 	}
 }

 .order_btn {
 	opacity: 0;
 	animation: order_btn 2s 3s forwards; 
	font-size: 1.3rem;
	transition: all 1.4sec ease-in-out; 	
 }

 .order_btn:hover {
 	background-color:#c9c1ac ;
	border: none;
	color:#d3325f;
 }

 @keyframes down_arrow {
 	0% {
 		opacity: 1;
		transform: translateY(-10px);
 	}
 	50% {
		transform: translateY(10px);
 	}
 	100% {
 		opacity: 1;
		transform: translateY(-10px);
 	}
 }

 .down_arrow {
 	opacity: 0;
 	animation: down_arrow 3s 3.5s forwards;
 	animation-iteration-count: infinite;
 	display: inline-block;
 	position: absolute;
 	bottom: 3%;
 	left: 50%;
 	font-size: 1.4rem;
 	transform: all 2s ease;
 }

 .down_arrow:hover {
 	background: #c9c1ac;
 	color: black;
 	border-radius: 10px;
 }

 



 /*///////////////////////////////////Navbar//////////////////////////////////////////////////////////////////////*/
 .navbar {
 	background: #c9c1ac;
 	padding: 20px;
 	transition: all 1s ease;
 }

 .navbar_background {
 	padding: 5px 20px;
 }

 .navbar-brand {
 	font-size: 30px;
 	transition: all 1s ease;
 }

 .navbar-brand:hover {
 	color: #242424;
 }

 .nav-link {
 	color: #242424;
 	text-decoration: none;
 	transition: all 1.5s ease;
 	font-size: 23px;
 }

 .nav-link:hover {
 	color: #d3325f;
 }

 .nav-btn {
 	background: transparent;
 	color: #d3325f;
 	border: 2px solid #d3325f;
 	font-size: 23px;
 	transition: all 1.5s ease;
 }

 .nav-btn:hover {
 	color: #242424;
 	border: 2px solid #242424;
 	transform: rotate(10deg);
 }

 .toggler-btn {
 	border: 2px solid #d3325f;
 	padding: 5px;
 	transition: all 1.5s ease;
 }

 .bar {
 	width: 30px;
 	height: 3px;
 	margin: 5px;
 	background: #d3325f;
 	transition: all 0.5s ease;
 }

 .change .bar1 {
 	transform: rotate(-45deg) translate(-5px,6px);
 }

 .change .bar2 {
 	opacity: 0;
 }
 .change .bar3 {
 	transform: rotate(45deg) translate(-5px,-8px);
 }






/*///////////////////menu section/////////////////////////////////////////////////////////////////////////////////////////////////*/
 .item_container {
	overflow: hidden;
	transition: all 1.5s ease;
	background: linear-gradient(rgb(0,0,0),rbg(0,0,0));
	position: relative;
 }
 .item_img {
 	transition: all 1.5s ease;
 }

 .item_container:hover .item_img {
 	transform: scale(1.2);
 	opacity: 0.6;
 }

 .item_header {
 	opacity: 0;
	padding: 4px;
 	position: absolute;
 	color: #d3325f;
 	font-size: 2rem;
 	top: 50%;
 	right: 50%;
 	transform: translate(50%,-50%);
 	transition: all 1.5s ease;
	border: 2px solid lightgrey;
	background: rgba(0,0,0,0.7);
 }
 .item_container:hover .item_header {
 	opacity: 1;
 }

 .item_header:hover {
 	background: rgba(0,0,0,0.9);
 	font-size: 2.1rem;	
 }

 .item_container:hover {
 	outline: 10px solid #d3325f;
 	outline-offset: -2.2rem;
 }





 /*Menu table*/
/*To be done*/






/*/////////////////////////about section///////////////////////////////////////////////////////////////////////////////////////*/
.about_img_container {
	position: relative;
}

.about_image {
	position: absolute;
	width: 150px;
	opacity: 0.9;
	transition: all 1.5s ease;
}

.image_1 {
	top:0%;
	left: 0%;
}

.image_2 {
	top:20%;
	left: 20%;
	z-index: 2;
}

.image_3 {
	top:0%;
	left: 35%;
}

.image_4 {
	top:45%;
	left: 0%;
}

.image_5 {
	top:45%;
	left: 35%;
}

.about_image:hover {
	outline: 6px solid #d3325f;
	outline-offset: 0.4rem;
	transform: scale(1.3) rotate(20deg);
	z-index: 3;
	opacity: 1;
}
.about_img_container:hover .about_image:not(:hover) {
	opacity: 0.5;
} 




/*////////////////////////////Review Section////////////////////////////////////////////////////////////////////////////////*/
 .review_slider_container {
 	background: rgba(255,255,255,0.7);
 	clip-path: 	polygon(5% 0,100% 0,90% 100%,0% 100%);
 }

 .review_img {
	width: 150px;
 }




 /*///////////////////////////Member Section//////////////////////////////////////////////////////////////////////////////*/
 .member_social_container a{
 	color: #3b5998;
 	transition: all 1.5s ease-in-out;
 }

 .member_social_container a:hover {
 	color: black;
 	transform: 	translateY(-5px);
 }



 /*////////////////////////Contact Section///////////////////////////////////////////////////////////////////////////////*/

 .height-60 {
 	min-height: 60vh;
 }

 .map {
	outline: 5px solid rgba(0,0,0,0.5);
 }
 
 #contact .card {
 	background: rgba(0,0,0,0.5);
 	transition: all 1.5s ease;
 }

 #contact .card:hover {
	background: rgba(0,0,0,0.8);
 }

 #contact .card-header {
 	color: #d3325f;
 }

 #contact .input-group-text {
 	background: #d3325f;
 	border-color: #d3325f;
 	color: #242424;
 }

 #contact .card .input,
 #contact .card .input::placeholder {
 	color: #606060;
 }

 .contact_btn {
 	color:#d3325f;
 	border-color: #d3325f;
 	background: transparent;
 	transition: all 1s ease-in-out; 
 }

 .contact_btn:hover {
	background: #c9c1ac;
	border-color: #c9c1ac;
 }





 /*///////////////////////////////////back to top////////////////////////////////////////////////////////////////////*/
 .back_to_top {
 	background: #c9c1ac;
 	display: inline-block;
 	border-radius: 10px;
 }

 .scroll_top {
 	position: fixed;
 	bottom: 70px;
 	right: 10px;
 	transition: all 1.5s ease;
 }

 .scroll_top_bg {
/* 	outline: 2px solid rgba(0,0,0,0.7);*/
	background: rgba(0,0,0,0.7);
 }

 




























